/*

!.gitignore
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
!gradle.properties

!gradle/

!project1/
project1/*

!project1/src/
!project1/build.gradle

!project2/
project2/*

!project2/src/
!project2/build.gradle

.DS_store
